body,html{
	margin:0;
	overflow-x: hidden;
}

		/* NAVBAR */

.btn {
	background-color: transparent;
	color: white;
	border: 0px solid transparent;
	padding: 10px;
	font-size: 1.2em;
}

.navbar {
	height: 0px;
	background-color: transparent;
	border: none;
	color: white;
	z-index: 100;
	transition: background-color 1s ease 0s;
}
.navbar-default .navbar-brand {
	vertical-align:middle;
	color:transparent;
}


.navbar-default .navbar-brand:hover {
	color:transparent;
	border: 1px solid transparent;
}
.navbar-default .navbar-nav > li > a {
	color: white;

	vertical-align:middle;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:active, .navbar-default .navbar-nav > li > a:focus {
	color: #f9f5fa;
	border: 1px solid transparent;
}


.navbar-default .navbar-nav > li > a:visited {
	color: white;
	text-decoration: none;

}
@media screen and (max-width: 736px) {
	.navbar-default .navbar-nav > li > a:visited {
		color: black;
		text-decoration: none;
	
	}}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
	background-color: transparent;
	color: #c57ed3;
}
.navbar-default .navbar-toggle {
	border-color: transparent;
	width:7.2vh;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
	background-color: transparent;
}
.navbar-default .navbar-toggle .icon-bar {
	color: black;
	background-color: black;
}
.navbar-default .navbar-collapse.collapse.in ul {
	background-color: white;
}
/* Solid class attached on scroll past first section */
.navbar.solid {
	background-color: white;
	transition: background-color 1s ease 0s;
	box-shadow: 0 0 4px grey;
}
.navbar.solid .navbar-brand {
	color: black;
	transition: color 1s ease 0s;
}
.navbar.solid .navbar-nav > li > a {
	
	color:black;
	transition: color 1s ease 0s;
}
			
			

						/* LANDING */
						


.landingtitle{
	font-size: 10vh;
	font-family: monospace;
	display: none;

}

.topExcel{
	display: grid	;
	justify-content: center;
	align-items: center;
}

img{

	/* margin-top: 2vh; */
	max-width: 40%;
	/* border-radius: 59%; */
	margin-top: 2vh;
	/* border-radius: 59%; */

	/* height: auto; */
	/* display: none; */
}

#header {
    background-attachment: scroll,							scroll,					fixed;
    background-image: url("images/top-3200.svg"), url("images/index.png"), url("images/header.jpg");
    background-position: bottom center,					top left,				center center;
    background-repeat: repeat-x,						repeat,					no-repeat;
    background-size: 3200px 460px,					auto,					cover;
    color: rgba(255, 255, 255, 0.8);
    padding: 10em 0 20em 0;
    position: relative;
    text-align: center;
    height:90vh;
		width: 100vw;
		/* background: black; */
}

    #header:before, #header:after {
				/* background: rgba(224, 224, 224, 0.75); */
				/* background: black; */

        content: '';
        left: 50%;
        position: absolute;
        width: 1px;
        z-index: 0;
    }

    #header:before {
        height: calc(100% - 50px);
        opacity: 0.15;
        top: 0;
    }

    #header:after {
        bottom: 0;
        height: 50px;
    }

    #header a {
				border-bottom-color: rgba(255, 255, 255, 0.35);
				
				/* background: black; */

        color: white;
    }

        #header a:hover {
            border-bottom-color: transparent;
						color: white;
						text-decoration: none;	
        }

    #header strong, #header b {
        color: #ffffff;
    }

    #header h1, #header h2, #header h3, #header h4, #header h5, #header h6 {
        color: #ffffff;
    }

    #header input[type="submit"],
    #header input[type="reset"],
    #header input[type="button"],
    #header .button {
        background: #ffffff;
        color: #544d55;
    }

    #header .logo {
        background: white;
        border-radius: 100%;
        color: #ffffff;
        cursor: default;
        display: inline-block;
        font-size: 2.25em;
        height: 2.35em;
        line-height: 2.35em;
        margin: 0 0 0.75em 0;
        text-align: center;
        width: 2.35em;
    }

        #header .logo.fa-paper-plane-o:before {
            left: -0.075em;
            position: relative;
        }

    #header h1 {
        font-size: 2.5em;
        margin: 0;
    }

    #header p {
        font-size: 1.5em;
        line-height: 1.5em;
        margin: 0.25em 0 0 0;
    }


	@media screen and (max-width: 1680px) {

		/* Basic */

		.landingtitle{
			font-size: 8vh;
		}

		img{
			max-width: 50%;
			margin-top: 5vh;
		}

			body, input, select, textarea {
				font-size: 14pt;
			}

			h2 {
				font-size: 1.5em;
			}

			h3 {
				font-size: 1.25em;
			}

		/* Section/Article */

			header.major p {
				font-size: 1.25em;
			}

		/* Header */

			#header {
				padding: 8em 0 16em 0;
			}

				#header h1 {
					font-size: 2.25em;
				}

				#header p {
					font-size: 1.25em;
					line-height: 1.65em;
				}

	}

/* Normal */

	@media screen and (max-width: 1280px) {

		/* Basic */


		img{
			max-width: 50%;
			margin-top: 5vh;
		}

			body, input, select, textarea {
				font-size: 13pt;
			}

			h2 {
				font-size: 1.35em;
			}

			h3 {
				font-size: 1.15em;
			}

		/* Section/Article */

			header.major {
				margin-bottom: 4em;
				padding: 3em 0;
			}

				header.major p {
					font-size: 1.15em;
				}

			footer.major {
				margin-top: 4em;
				padding: 3em 0;
			}

		/* Box */

			.box {
				padding: 2.5em;
				margin-bottom: 4em;
			}

		/* Feature */

			.feature {
				height: 18em;
			}

				.feature .content {
					padding: 2.5em;
				}

		/* Header */

			#header {
				background-attachment: scroll,							scroll,							scroll;
				background-image: url("images/top-1600.svg"), url("images/index.png"), url("../../images/header.jpg");
				background-size: 1600px 230px,					auto,							cover;
				padding: 6em 0 12em 0;
			}

				#header:before {
					height: calc(100% - 25px);
				}

				#header:after {
					height: 25px;
				}

				#header h1 {
					font-size: 2em;
				}

				#header p {
					font-size: 1.15em;
				}

		/* Footer */

			#footer {
				background-image: url("images/bottom-1600.svg");
				background-size: 1600px 230px;
				margin-top: -100px;
				padding: calc(230px + 4em) 0 6em 0;
			}

				#footer:before {
					height: calc(230px + 4em);
				}

		/* Main */

			#main {
				padding: 4em 0 3em 0;
			}

	}

/* Narrow */

	@media screen and (max-width: 980px) {

		/* Basic */
		
		img{
			max-width: 80%;
			margin-top: 5vh;
		}

			body, input, select, textarea {
				font-size: 12pt;
			}

	}

/* Narrower */

	@media screen and (max-width: 840px) {

		img{
			max-width: 70%;
			margin-top: 5vh;
		}

		/* Section/Article */

			header.major {
				padding-left: 2em;
				padding-right: 2em;
			}

			footer.major {
				padding-left: 2em;
				padding-right: 2em;
			}

	}

/* Mobile */

	@media screen and (max-width: 736px) {

		/* Basic */
		
		img{
			max-width: 60%;
			margin-top: 5vh;
		}

			h2 {
				font-size: 1em;
			}

			h3 {
				font-size: 1em;
			}

		/* Section/Article */

			header p {
				font-size: 0.8em;
			}

			header.major {
				margin-bottom: 2em;
			}

				header.major br {
					display: none;
				}

				header.major p {
					font-size: 0.8em;
				}

			footer.major {
				margin-top: 2em;
			}

				footer.major br {
					display: none;
				}

		/* Box */

			.box {
				padding: 2em;
				margin-bottom: 2em;
			}

		/* Feature */

			.feature {
				background: #ffffff;
				display: block;
				height: auto;
				margin-bottom: 2em;
			}

				.feature:last-child {
					margin-bottom: 0;
				}

				.feature:before, .feature:after {
					display: none;
				}

				.feature .image {
					float: none;
					height: 15em;
					width: 100%;
				}

				.feature .content {
					border: solid 1px rgba(224, 224, 224, 0.75);
					padding: 2em !important;
					text-align: center;
					width: 100%;
				}

		/* Header */

			#header {
				background-image: url("images/top-1280.svg"), url("images/index.png"), url("../../images/header.jpg");
				background-size: 1280px 184px,						auto,							cover;
				padding: 3em 0 7em 0;
			}

				#header:before {
					height: calc(100% - 20px);
				}

				#header:after {
					height: 20px;
				}

				#header .logo {
					font-size: 1.5em;
				}

				#header h1 {
					font-size: 1.25em;
				}

				#header p {
					font-size: 1em;
				}

		/* Footer */

			#footer {
				background-image: url("images/bottom-1280.svg");
				background-size: 1280px 184px;
				margin-top: -75px;
				padding: calc(184px + 2em) 0 2em 0;
			}

				#footer:before {
					height: calc(184px + 2em);
				}

				#footer form {
					padding-bottom: 0;
				}

		/* Main */

			#main {
				padding: 2em 0 2em 0;
			}

	}

/* Mobile (Portrait) */

	@media screen and (max-width: 480px) {


		img{
			max-width: 100%;
			margin-top: 5vh;
		}

		/* Section/Article */

			header.major {
				padding-left: 1em;
				padding-right: 1em;
			}

			footer.major {
				padding-left: 1em;
				padding-right: 1em;
			}

		/* Button */

			input[type="submit"],
			input[type="reset"],
			input[type="button"],
			.button {
				display: block;
				width: 100%;
			}

		/* Box */

			.box {
				padding: 2em 1em;
			}

		/* Feature */

			.feature {
				margin-bottom: 1em;
			}

				.feature .content {
					padding: 2em 1em !important;
				}

		/* Main */

			#main {
				padding-left: 1em;
				padding-right: 1em;
			}

		/* Footer */

			#footer {
				margin-top: -100px;
				padding-left: 1em;
				padding-right: 1em;
			}

				#footer .copyright li {
					border: 0;
					display: block;
					margin: 0;
					padding: 0.75em 0 0 0;
				}

		/* Header */

			#header {
				padding-left: 2em;
				padding-right: 2em;
			}

				#header br {
					display: none;
				}

		}
		

    


								/* CONTENT */
							
							
    .content{
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 100vw;
        height:30.5vh;
    }

    .icon{
        background-color: black;
        display: flex;
        justify-content: center;
        align-items:center;
    }

    .iconDetails{
        display: flex;
        justify-content: center;
        align-items:center;
    }

									/* ABOUT EXCEL */

		.about{
			padding-top: 2.5em;
			width:100vw;
			height:58vh;
			/* border: 3px solid red; */

		}

		.aboutimg{
			padding-top: 2.5em;
			background-color: black;
			display: grid;
			grid-template-columns: 2fr 5fr;
			padding-right: 50px;
		}

		@media (min-width: 320px) and (max-width: 767px) {
			.about{
				height:140vh;
				/* border:3px solid red; */
			}
/* 
			.aboutimg{
				display: grid;
				grid-template-rows: 2fr 5fr;
			} */
		}
                    /* WHY ASSOCIATE WITH EXCEL */
				
		.whyassociate{
			/* padding-top: 2.5em; */
			color:white;
			background-color: black;
			font-family: monospace;
		}	
	
	
    .excelAssociation{
				/* margin-top:5.6vh; */
				/* border: solid 2px blue; */
       	height: 250vh;
        display: grid;
        vertical-align: middle;
        grid-template-rows: 1fr 15fr;
    }

    .excelAssociation>div{
        font-size:3vw;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: monospace;
    }

    .associationImages{
        color: white;
        background-color: black;
				vertical-align: middle;
				/* border:1px solid red; */
        

    }

    .associationimg{
    	font-size: 1vw;
    	text-align: center;
    	vertical-align: middle;
    	width: 50vw;
    	position: relative;
    }
    @media (min-width: 481px) and (max-width: 767px) {
  
    	.associationimg{
    		font-size: 2vw;
    		text-align: center;
				vertical-align: middle;
				width:50vh;

		}
	
		.whyassociate
		{
		
					
					padding-top:1vh;
						
		
			
		}
		p{
			font-size:18px;
		}


  
	}

	@media (min-width: 320px) and (max-width: 480px) {
  
   		.associationimg{
    		font-size: 2vw;
    		text-align: center;
    		vertical-align: middle;
    		position:relative;
    	 	justify-content: center;

    	}
    	.images{
			height: 20vh;
    	}
			.whyassociate
			{
			
						
						padding-top:15em;
										
					font-size: 40px;
				
			}
			p{
				font-size:12px;
			}
}
   


                        /* REACH */

	.reach{
        width:100%;
        align-self: center;
        font-family: monospace;

		}
	.reachhead {
			margin-top:1vh;
    	font-size: 4vw;
    	text-align:center;
    	justify-content: center;
    	font-family: monospace;		
		} 
	@media screen and (max-width: 736px) {
			.reachhead{
				margin-top:10vh;
			}
		
		}
	.grid-container{
  		display: grid;
  		justify-content: space-around;
  		grid-template-columns: auto auto auto auto;
  		grid-row-gap: 10vh;
  		grid-column-gap:1vw;
  		grid-column-start: 1;

	}

	.rchead{
		font-size: 3vh;
	}
	.rc{
		font-size: 2vh;
	}

	.reachimg{
		height: 15vh;
	}
 @media (min-width: 481px) and (max-width: 768px){
		.grid-container{
			display:grid;
			justify-content: space-around;
			grid-template-columns: auto auto auto;
			grid-row-gap: 10vh;
		}
		.rchead{
		font-size: 3vh;
	}
	.rc{
		font-size: 2vh;
	}

	}

@media (min-width: 320px) and (max-width: 480px){
	.grid-container{
			display:grid;
			justify-content: space-around;
			grid-template-columns: auto auto;
			grid-row-gap: 10vh;
		}

		.rchead{
		font-size: 3vh;
	}
	.rc{
		font-size: 2vh;
	}


}
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape){
	.grid-container{
			display:grid;
			justify-content: space-around;
			grid-template-columns: auto auto;
			grid-row-gap: 10vh;
		}

		.rchead{
		font-size: 3vh;
	}
	.rc{
		font-size: 2vh;
	}
}


@media (min-width: 768px) and (max-width: 1024px){
	.grid-container{
			display:grid;
			justify-content: space-around;
			grid-template-columns: auto auto;
			grid-row-gap: 10vh;
		}

		.rchead{
		font-size: 3vh;
	}
	.rc{
		font-size: 2vh;
	}
}



    /*.reach{
        width:100%;
        font-family: monospace;

		}
    .container2{
		margin-left:14em;
    }
    .row{
    	padding-top: 2vh;
    }
    .reachhead {
			margin-top:1vh;
    	font-size: 4vw;
    	text-align:center;
    	justify-content: center;
    	font-family: monospace;		
		} 
		@media screen and (max-width: 736px) {
			.reachhead{
				margin-top:10vh;
			}
		
			}
    .reachimg{
		justify-content: center;
		height: 15vh;
		
	}

	@media only screen and (max-width: 768px) 
 {
		.container2{
			padding-top:5vh;
			padding-left:2.2em;
			
		}
		.reachhead
		{
		
			font-size:40px;
		}
		
	

}
@media (min-width: 320px) and (max-width: 480px) {


      .container2{
			padding-top:5vh;
			margin-left:4.5em;
			
		}
		.reachhead
		{
			padding-top:12em;
			font-size:10vw;
		}

		.reachimg{
			height: 15vh;
		}

		  
	.gallery{
		padding-top:15vh;
			font-size:10vw;
	}


   

	}

	@media only screen and (max-width: 768px) {
		.container2
		{
			padding-top:5vh;
			margin-left:6em;
		}
	
	}*/
	/*gallery*/

	.gallery
	{
		margin-top:1.5em;
    	font-size: 4vw;
    	text-align:center;
			justify-content: center;
			font-family: monospace;
			
	}


		/* Sponser*/
		 .sponser
		 {
			margin-top:1.5em;
    	font-size: 4vw;
    	text-align:center;
			justify-content: center;
			font-family: monospace;
		 }
	
		.orb {
			width: 150px;
			height: 150px;
			background: #fff;
			display: inline;
			margin: 0 24.7px;
			float: left;
			transition: all .2s ease-out;
			opacity: 0.8;
		  }
		  #geogit{
			width: 100px;
			margin-top: 20px;
			height: 100px;
		  }
		  .orb:hover {
			transform: scale(1.2);
			opacity: 1;
		  }
		 .container-fluid{
			  overflow: hidden;
			  padding: 0;
		  }
		  
		  .marquee {
			height: 200px;
			width: 6350px;
			border: 2px solid #eee;
			box-sizing: border-box;
			position: relative;
			margin: 100px 0 200px 0;
		  }
		  
		  .marquee--inner {
			display: block;
			width: 200%;
			margin: 20px 0;
			position: absolute;
			animation: marquee 35s linear infinite;
		  }
		  
		  .marquee--inner:hover {
			animation-play-state: paused;
		  }
		  
		  /*.half {
			float: left;
			width: 10%;
		  }*/
		  
		  span {
			float: left;
			width: 50%;
		  }
		  
		  @keyframes marquee {
			0% { left: 0; }
			100% { left: -100%; }
		  }
			@media only screen and (max-width: 768px) 
			{
				 
				 .sponser{
					 padding-top:0em;
					 font-size:40px;
			 
				 }
				 .marquee{
					 margin-top: 50px;
				 }
				 .reachhead
				 {
					 padding-top:5.5em;
				 }
					
					.gallery{
						padding-top:0em;
						font-size:40px;
						padding-bottom: 1em;
					}
		 }
		
		 		@media only screen and (max-width: 400px)
		 {
		 	.respon
		 	{
		 		max-width: 80px;
		 		height: 100px;
		 	}

		 	.abtpara
		 	{
		 		max-width: 250px;
		 		font-size: 4.5vw !important;
		 		

		 	}

		 }
		 		@media only screen and (min-width:401px) and (max-width: 768px)
		 {
		 	.respon
		 	{
		 		max-width: 185px;
		 		height: 250px;
		 	}

		 	.abtpara
		 	{
		 		max-width: 480px;
		 		font-size: 2vw !important;
		 	
		 	}

		 }

.about
		 {
		 	background-color: white;
		 }
