body{
    margin:0;
}

		/* NAVBAR */

.btn {
	background-color: transparent;
	color: white;
	border: 1px solid white;
	padding: 10px;
	font-size: 1.2em;
}
	.btn:hover {
	color: #c57ed3;
	border-color: #c57ed3;
}
.navbar {
	height: 0px;
	background-color: transparent;
	border: none;
	color: white;
	z-index: 100;
	transition: background-color 1s ease 0s;
}
.navbar-default .navbar-brand {
	vertical-align:middle;
	color: white;
}

.navbar-default .navbar-brand:hover {
	color: #c57ed3;
	border: 1px solid #c57ed3;
}
.navbar-default .navbar-nav > li > a {
	color: white;
	vertical-align:middle;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:active, .navbar-default .navbar-nav > li > a:focus {
	color: #c57ed3;
	border: 1px solid #c57ed3;
}
.navbar-default .navbar-nav > li > a:visited {
	color: #c57ed3;
	text-decoration: none;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
	background-color: transparent;
	color: #c57ed3;
}
.navbar-default .navbar-toggle {
	border-color: #c57ed3;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
	background-color: #490d40;
}
.navbar-default .navbar-toggle .icon-bar {
	color: #c57ed3;
	background-color: #c57ed3;
}
.navbar-default .navbar-collapse.collapse.in ul {
	background-color: #490d40;
}
/* Solid class attached on scroll past first section */
.navbar.solid {
	background-color: #490d40;
	transition: background-color 1s ease 0s;
	box-shadow: 0 0 4px grey;
}
.navbar.solid .navbar-brand {
	color: #c57ed3;
	transition: color 1s ease 0s;
}
.navbar.solid .navbar-nav > li > a {
	color: #c57ed3;
	transition: color 1s ease 0s;
}
			
			

            /* LANDING */
#header {
    background-attachment: scroll,							scroll,					fixed;
    background-image: url("images/top-3200.svg"), url("images/overlay.png"), url("../../images/header.jpg");
    background-position: bottom center,					top left,				center center;
    background-repeat: repeat-x,						repeat,					no-repeat;
    background-size: 3200px 460px,					auto,					cover;
    color: rgba(255, 255, 255, 0.8);
    padding: 10em 0 20em 0;
    position: relative;
    text-align: center;
    height:0vh;
    width: 100vw;
}

    #header:before, #header:after {
        background: rgba(224, 224, 224, 0.75);
        content: '';
        left: 50%;
        position: absolute;
        width: 1px;
        z-index: 0;
    }

    #header:before {
        height: calc(100% - 50px);
        opacity: 0.15;
        top: 0;
    }

    #header:after {
        bottom: 0;
        height: 50px;
    }

    #header a {
        border-bottom-color: rgba(255, 255, 255, 0.35);
        color: rgba(255, 255, 255, 0.8);
    }

        #header a:hover {
            border-bottom-color: transparent;
            color: #4eb980;
        }

    #header strong, #header b {
        color: #ffffff;
    }

    #header h1, #header h2, #header h3, #header h4, #header h5, #header h6 {
        color: #ffffff;
    }

    #header input[type="submit"],
    #header input[type="reset"],
    #header input[type="button"],
    #header .button {
        background: #ffffff;
        color: #544d55;
    }

    #header .logo {
        background: #4eb980;
        border-radius: 100%;
        color: #ffffff;
        cursor: default;
        display: inline-block;
        font-size: 2.25em;
        height: 2.35em;
        line-height: 2.35em;
        margin: 0 0 0.75em 0;
        text-align: center;
        width: 2.35em;
    }

        #header .logo.fa-paper-plane-o:before {
            left: -0.075em;
            position: relative;
        }

    #header h1 {
        font-size: 2.5em;
        margin: 0;
    }

    #header p {
        font-size: 1.5em;
        line-height: 1.5em;
        margin: 0.25em 0 0 0;
    }


	@media screen and (max-width: 1680px) {

		/* Basic */

			body, input, select, textarea {
				font-size: 14pt;
			}

			h2 {
				font-size: 1.5em;
			}

			h3 {
				font-size: 1.25em;
			}

		/* Section/Article */

			header.major p {
				font-size: 1.25em;
			}

		/* Header */

			#header {
				padding: 8em 0 16em 0;
			}

				#header h1 {
					font-size: 2.25em;
				}

				#header p {
					font-size: 1.25em;
					line-height: 1.65em;
				}

	}

/* Normal */

	@media screen and (max-width: 1280px) {

		/* Basic */

			body, input, select, textarea {
				font-size: 13pt;
			}

			h2 {
				font-size: 1.35em;
			}

			h3 {
				font-size: 1.15em;
			}

		/* Section/Article */

			header.major {
				margin-bottom: 4em;
				padding: 3em 0;
			}

				header.major p {
					font-size: 1.15em;
				}

			footer.major {
				margin-top: 4em;
				padding: 3em 0;
			}

		/* Box */

			.box {
				padding: 2.5em;
				margin-bottom: 4em;
			}

		/* Feature */

			.feature {
				height: 18em;
			}

				.feature .content {
					padding: 2.5em;
				}

		/* Header */

			#header {
				background-attachment: scroll,							scroll,							scroll;
				background-image: url("images/top-1600.svg"), url("images/overlay.png"), url("../../images/header.jpg");
				background-size: 1600px 230px,					auto,							cover;
				padding: 6em 0 12em 0;
			}

				#header:before {
					height: calc(100% - 25px);
				}

				#header:after {
					height: 25px;
				}

				#header h1 {
					font-size: 2em;
				}

				#header p {
					font-size: 1.15em;
				}

		/* Footer */

			#footer {
				background-image: url("images/bottom-1600.svg");
				background-size: 1600px 230px;
				margin-top: -100px;
				padding: calc(230px + 4em) 0 6em 0;
			}

				#footer:before {
					height: calc(230px + 4em);
				}

		/* Main */

			#main {
				padding: 4em 0 3em 0;
			}

	}

/* Narrow */

	@media screen and (max-width: 980px) {

		/* Basic */

			body, input, select, textarea {
				font-size: 12pt;
			}

	}

/* Narrower */

	@media screen and (max-width: 840px) {

		/* Section/Article */

			header.major {
				padding-left: 2em;
				padding-right: 2em;
			}

			footer.major {
				padding-left: 2em;
				padding-right: 2em;
			}

	}

/* Mobile */

	@media screen and (max-width: 736px) {

		/* Basic */

			h2 {
				font-size: 1em;
			}

			h3 {
				font-size: 1em;
			}

		/* Section/Article */

			header p {
				font-size: 0.8em;
			}

			header.major {
				margin-bottom: 2em;
			}

				header.major br {
					display: none;
				}

				header.major p {
					font-size: 0.8em;
				}

			footer.major {
				margin-top: 2em;
			}

				footer.major br {
					display: none;
				}

		/* Box */

			.box {
				padding: 2em;
				margin-bottom: 2em;
			}

		/* Feature */

			.feature {
				background: #ffffff;
				display: block;
				height: auto;
				margin-bottom: 2em;
			}

				.feature:last-child {
					margin-bottom: 0;
				}

				.feature:before, .feature:after {
					display: none;
				}

				.feature .image {
					float: none;
					height: 15em;
					width: 100%;
				}

				.feature .content {
					border: solid 1px rgba(224, 224, 224, 0.75);
					padding: 2em !important;
					text-align: center;
					width: 100%;
				}

		/* Header */

			#header {
				background-image: url("images/top-1280.svg"), url("images/overlay.png"), url("../../images/header.jpg");
				background-size: 1280px 184px,						auto,							cover;
				padding: 3em 0 7em 0;
			}

				#header:before {
					height: calc(100% - 20px);
				}

				#header:after {
					height: 20px;
				}

				#header .logo {
					font-size: 1.5em;
				}

				#header h1 {
					font-size: 1.25em;
				}

				#header p {
					font-size: 1em;
				}

		/* Footer */

			#footer {
				background-image: url("images/bottom-1280.svg");
				background-size: 1280px 184px;
				margin-top: -75px;
				padding: calc(184px + 2em) 0 2em 0;
			}

				#footer:before {
					height: calc(184px + 2em);
				}

				#footer form {
					padding-bottom: 0;
				}

		/* Main */

			#main {
				padding: 2em 0 2em 0;
			}

	}

/* Mobile (Portrait) */

	@media screen and (max-width: 480px) {

		/* Section/Article */

			header.major {
				padding-left: 1em;
				padding-right: 1em;
			}

			footer.major {
				padding-left: 1em;
				padding-right: 1em;
			}

		/* Button */

			input[type="submit"],
			input[type="reset"],
			input[type="button"],
			.button {
				display: block;
				width: 100%;
			}

		/* Box */

			.box {
				padding: 2em 1em;
			}

		/* Feature */

			.feature {
				margin-bottom: 1em;
			}

				.feature .content {
					padding: 2em 1em !important;
				}

		/* Main */

			#main {
				padding-left: 1em;
				padding-right: 1em;
			}

		/* Footer */

			#footer {
				margin-top: -100px;
				padding-left: 1em;
				padding-right: 1em;
			}

				#footer .copyright li {
					border: 0;
					display: block;
					margin: 0;
					padding: 0.75em 0 0 0;
				}

		/* Header */

			#header {
				padding-left: 2em;
				padding-right: 2em;
			}

				#header br {
					display: none;
				}

    }
    


                /* CONTENT */
        
    .content{
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 100vw;
        height:30.5vh;
    }

    .icon{
        background-color: black;
        display: flex;
        justify-content: center;
        align-items:center;
    }

    .iconDetails{
        display: flex;
        justify-content: center;
        align-items:center;
    }


                    /* WHY ASSOCIATE WITH EXCEL */
        
    .excelAssociation{
       	height: 200vh;
        display: grid;
        vertical-align: middle;
        grid-template-rows: 1fr 3fr;
    }

    .excelAssociation>div{
        font-size:3vw;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .associationImages{
        color: white;
        background-color: black;
        vertical-align: middle;
        

    }

    .associationimg{
    	font-size: 1vw;
    	text-align: center;
    	vertical-align: middle;
    	width: 50vw;
    	position: relative;
    }
    @media (min-width: 481px) and (max-width: 767px) {
  
    	.associationimg{
    		font-size: 2vw;
    		text-align: center;
    		vertical-align: middle;
    	}


  
	}

	@media (min-width: 320px) and (max-width: 480px) {
  
   		.associationimg{
    		font-size: 2vw;
    		text-align: center;
    		vertical-align: middle;
    		position:relative;
    	 	justify-content: center;

    	}
    	.images{
    		height: 20vh;
    	}
  
}
   


                        /* REACH */

    .reach{
        width:100vw;
        justify-content: center;
        }
    .container{
    	padding-top:5vh;
    }
    .row{
    	padding-top: 2vh;
    }
    .reachhead {
    	font-size: 5vw;
    	text-align:center;
    	justify-content: center;
    } 
    .reachimg{
    	justify-content: center;
    }

      
          }

   

